%section.box
  = form_tag do
    .input.field
      = label_tag "Imie"
      = text_field_tag :name
    .input.field
      = label_tag "Email"
      = text_field_tag :email
    .input.text
      = label_tag "Treść"
      = text_area_tag :body
    .input.actions
      = submit_tag "Wyślij"
