!!! html
%html
  %head
    %title Algo
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = flash[:notice]
    = link_to "O książce", book_path
    = link_to "O autorze", author_path
    = link_to "Pobierz", download_path
    = link_to "Kontakt", contact_path
    = yield
